#quote-box {
    width: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    padding: 40px 50px;
    border-radius: 3px;
}

#text-box {
    text-align: center;
    font-weight: 500;
    font-size: 1.75em;
    overflow-wrap: break-word;
}

#text {
    margin-left: 0.35em;
}

#author {
    text-align: end;
}

#tweet-quote {
    float: left;
    color: white;
    background-color: black;
    padding: 6px 12.5px;
    border-radius: 3px;
}

#tumblr-quote {
    float: left;
    margin-left: 0.3rem;
    color: white;
    background-color: black;
    padding: 6px 15px;
    border-radius: 3px;
}

#new-quote {
    float: right;
}
